@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome, Dear. </h1>
    <p>With this software, you can to generate certifications for your time.</p>
</div>
